.top-section-grid {
    display: grid;
    grid-template-columns: 80px 1fr 1fr 1fr;
    gap: 20px;
    align-items: start;
}

.info-grid {
    display: grid;
    grid-template-columns: max-content auto;
    row-gap: 3px;
    column-gap: 12px;
    font-size: 0.95rem;
}

:deep(.top-section-grid) {
    display: grid !important;
    grid-template-columns: 80px 1fr 1fr 1fr !important;
    gap: 20px !important;
}

